.login{
    width:100%;
    display: flex;
    justify-content: center;
    height:500px;
    align-items: center
}
.login-form{

    border: 1px solid #ced4da;
    padding: 30px;
    width:400px
    
}


.form-signup{
    display: flex;
    flex-direction: column;
    margin-top:60px;
    align-items: center;
   
}


.login-btn-signup{
    display: flex;
    border: 1px solid #ced4da;
    width: 100%
}

.btn-signup{
    width:100%
}
.signup-label{
    color:#9E9E9E;
    font-size:13px
}


/*******************************************/

.radio-button-comp{
    margin-bottom:30px;
    display: flex;
    justify-content: center;
    
}

.radio-button{
    width:50%;
}