.signup{
    width:100%;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    height:500px;
    align-items: center
}
.signup-form{
    flex-direction: column;
    border: 1px solid #ced4da; 
    display: flex;
    justify-content: center;
    align-items: center;
    width:500px;
    padding: 50px;
}

.form-control{
   width:300px
}

.btn-primary{
    width:100%
}
.signup-title{
    color:#007bff;
    margin-bottom:50px
}