.signup{
    width:100%;
    display: flex;
    justify-content: center;
    height:500px;
    align-items: center
}
.signup-form{
    
    border: 1px solid #ced4da; 
    display: flex;
    justify-content: center;
    align-items: center;
    width:500px;
    padding: 50px;
}

.form-control{
   width:300px
}

.btn-primary{
    width:100%
}