.signup{
    width:100%;
    display: flex;
    
    justify-content: center;
    height:500px;
    align-items: center
}
.signup-form{
    border: 1px solid #ced4da; 
    width:500px;
    padding: 50px;
    
}


.btn-primary{
    width:100%
}
.signup-title{
    color:#007bff;
    margin-bottom:50px
}

.signup-inputs{
    width:100%;
    
    
}

.signup-input{
    width:400px
}