.edit-component-container{
    display: flex;
    flex-direction: column; 
    align-items: center

}

.edit-component-main{
    display: flex;
    flex-direction: column; 
    width:800px;
}

.edit-component-header{
    text-align: center;
    font-size: 1.2 em;
    margin: 40px;
    color: grey
}

.edit-button{
    width: 90px;
    margin: 15px;
}

.edit-component-buttons{
    display: flex;
    justify-content: flex-end;
}

textarea {
    height: 300px;
}

.edit-examen-title{
    border-bottom: none;
    border-top: none
}

.modifier-duree-input{
    width:400px
}
.edit-component-duree-matiere{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:200px;
}