.edit-component-container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: auto;
}


.edit-component-main{
    display: flex;
    flex-direction: column; 
    width:800px;
}

.edit-component-header{
    text-align: center;
    font-size: 1.2 em;
    margin: 40px;
    color: grey
}

.edit-button{
    margin: 15px;
}

.edit-component-buttons{
    display: flex;
    justify-content: flex-end;
}

textarea {
    height: 300px;
}

.edit-examen-title{
    
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 20px
}

.modifier-duree-input{
    width:400px
}
.edit-component-duree-matiere{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:200px;
}

textarea {
  height: 300px;
  border:1px solid #ced4da
}

.nav-tab-add-btn{
    font-size:17px
}

.exercice-item{
    border:1px solid #ced4da;
    border-bottom: none
}

.modifier-enonce{
    width : 60%
}


.modifier-test{
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid #ced4da;
    height:345px

}


