.header{
    display: flex;
    justify-content : space-between;
    font-size: 1.2em;
    text-align: center;
    color : grey;
    padding-top: 20px;
    background-color: #f8f9f9
}

.my-header-user-logout{
    display: flex;
    justify-content : space-around;
    align-items: baseline;
}
.user-btn{
    margin-right: 20px; 

}

.logout{
    display: flex;
    align-items: baseline;
    margin: 0 50px;
}

.grey-text{
    color:grey
}