.navbar{
    display: flex;
    justify-content : space-between;
    font-size: 1.2em;
    text-align: center;
    color : white;
}

.my-header-user-logout{
    display: flex;
    justify-content : space-around;
}


.logout{
    display: flex;
    justify-content : space-between;
    align-items: baseline;
    margin: 0 50px;
}

.logout-btn{
    margin-left: 20px;
}