.navbar{
    display: flex;
    justify-content : space-between;
    font-size: 1.2em;
    text-align: center;
    color : grey;
    padding-top: 20px;
    background-color : lightblue;
}

.my-header-user-logout{
    display: flex;
    justify-content : space-around;
}


.logout{
    display: flex;
    align-items: baseline;
    margin: 0 50px;
}

.grey-text{
    color:grey
}