
.add-component-container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: auto
}

.add-component-main{
    display: flex;
    flex-direction: column; 
    width:800px;
}

.add-component-header{
    text-align: center;
    font-size: 1.2 em;
    margin: 40px;
    color: grey
}

textarea {
  height: 300px;
}

.add-component-buttons{
    display: flex;
    justify-content: flex-end;
}
.add-button{
    margin: 15px;
}

.tests{
    width: 90%;
}

.add-component-duree-matiere{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.duree-date, .matiere-classe{
    display: flex;
    margin: 10px;
}

.matiere, .classe{
    width: 50%;
}

.test-container{
    display: flex;
    justify-content: space-between
}

.matiere{
    margin-right: 10px;
}

.add-examen-title{
    border-bottom: none;
    border-top: none
}

.ajouter-duree-input{
    width: auto;
    margin-right: 10px;

}

.inputdata, .outputdata{
    margin: 10px;
}



.ajouter-enonce{
    width:60%
}

.ajouter-test{
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.add-test-buttons{
    display: flex;
    justify-content: center
}

.add-test-btn{
    margin-right:10px
}