.etudiant-container{
    display: flex;
    justify-content : space-around;
    margin: 20px 0;
}

.etudiant-table{
    width: 70%;
}

.admin-add-button{
    font-size: 2em;
    background-color: transparent;
    border: none;
    color: grey;
}

.admin-etudiant-button{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}

.etudiant-filtres{
    border:1px solid rgba(0,0,0,.125);
    padding:40px;   
    width:300px; 
    margin:50px 50px 0px 20px;
    height:400px;
}

.select-classe{
    margin-top:20px
}