.etudiant-container{
    display: flex;
    justify-content : space-around;
    margin: 20px 0;
}

.etudiant-table{
    width: 70%;
}

.admin-add-button{
    font-size: 2em;
    background-color: transparent;
    border: none;
    color: grey;
}

.admin-etudiant-button{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}

.filtres{
    margin-top: 50px;
}