.enseignant-main-container{
    display: flex;
    justify-content : space-around;
    margin: 20px;

} 

.exams-card{
    width: 60%
}

.enseignant-add-button{
    font-size: 2em;
    background-color: transparent;
    border: none;
    color: grey;
}

.enseignant-button{
    display: flex;
    justify-content: flex-end;
    
}