.enseignant-main-container{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    
} 

.exams{
    width: 60%;
    
}
.examen-card{
    margin-bottom: 50px
}

.enseignant-add-button{
    font-size: 2em;
    background-color: transparent;
    border: none;
    color: grey;
}

.enseignant-button{
    display: flex;
    justify-content: flex-end;
    
}

.filters{
    border:1px solid rgba(0,0,0,.125);
    padding:40px;
    margin-top:50px;
    width:300px
}
.filter-matiere{
    margin-bottom: 20px;
    margin-top: 20px
}

.enseignant-input-search{
    margin-top:30px
}